body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background: #f0f0f0;
}

#month-year {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-grid div {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.calendar-grid div.desaty-den {
  background-color: #fff176; /* světle žlutá */
}

.calendar-grid div.vikend {
  background-color: #ef5350; /* červená */
  color: black;
}

#calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#prev-month {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #90caf9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-month:hover {
  background-color: #64b5f6;
}

#next-month {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #90caf9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-month:hover {
  background-color: #64b5f6;
}