* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background: #f0f0f0;
}

#month-year {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.calendar-container {
  padding: 0 0.5rem;       /* odsazení od okrajů */
  /*max-width: 600px;         volitelné: omezí šířku na desktopu */
  margin: 0 auto;          /* vycentrování */
}

.calendar-weekdays,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-weekdays {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.calendar-weekdays div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
/* bunky kalendáře */
.calendar-grid div {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-grid div:empty {
  visibility: hidden;
}

.calendar-grid div.vikend {
  background-color: #ef5350; /* červená */
  color: black;
}

.calendar-grid div.dnes {
  outline: 2px solid #1976d2;
  font-weight: bold;
}

#calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#prev-month {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #90caf9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-month:hover {
  background-color: #64b5f6;
}

#next-month {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #90caf9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-month:hover {
  background-color: #64b5f6;
}

#go-today {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #a5d6a7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.5rem;
}

#go-today:hover {
  background-color: #81c784;
}

/* === Hover efekty jen pro desktop === */
@media (hover: hover) {
  .calendar-grid div:hover {
    background-color: #e0f7fa;
  }
}

.calendar-weekdays div {
  background-color: rgba(255, 0, 0, 0.1);
}
.calendar-grid div {
  background-color: rgba(113, 194, 14, 0.1);
}

